<div class="new-topic-wrapper">
  <h1>編集画面</h1>

  <%= render 'form' %>

  <%= link_to '詳細', @topic, class: 'btn btn-default btn-block' %>
  <%= link_to '戻る', topics_path, class: 'btn btn-default btn-block' %>
</div>
