// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.topic-box {
  width: 100%;
  margin-bottom: 20px;
  color: white;
  background-color: #2C2C2C;
}
