// Place all the styles related to the Topics controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index
.new-topic-box {
  background-color: #2C2C2C;
  margin: 10px 0;
  color: white;
  text-align: center;
}

.new-topic-box a {
  padding: 10px;
  color: white;
  display: block;
  transition: 0.3s;
}

.new-topic-box a:hover {
  background-color: #696969;
}

.topic-box {
  margin-bottom: 20px;
  color: white;
  background-color: #2C2C2C;
  transition: 0.3s;
}

.user-box img {
  width: 50px;
  height: 50px;
}

.title-box {
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px;
}

.title-tag {
  padding: 5px;
  margin-right: 10px;
  border-radius: 5px;
}

.game-title-tag {
  float: right;
  padding: 0 5px;
  margin-right: 10px;
  background-color: #667CCC;
  border-radius: 5px;
  color: black;
}

.content-box {
  padding: 5px;
}

.btn-box {
  margin: 5px;
  padding-bottom: 5px;
}

.show-btn {
  width: 50px;
  background-color: white;
}

// show
.show-topic-box {
  background-color: #2C2C2C;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
  color: white;
}
